<div class="container ">
    <div class="intro">
        <h2 class="main">Competencies</h2>
        <div class="intro-body">
            <ul>
                <li>
                    <span>
                        <b class="main">LANGUAGES: </b>
                        {{map.techs.java}};
                        {{map.techs.js}};
                        {{map.techs.php}};
                        {{map.techs.py}};
                        {{map.techs.sql}};
                        {{map.techs.css}};
                        {{map.techs.html}};
                    </span>
                </li>
                <li>
                    <b class="main">FRAMEWORKS: </b>
                    {{map.techs.akka}};
                    {{map.techs.spring-framework}};
                    {{map.techs.spring-boot}};
                    {{map.techs.spring-di}};
                    {{map.techs.spring-data}};
                    {{map.techs.hibernate}};
                    {{map.techs.jersey}};
                    {{map.techs.aspectj}};
                    {{map.techs.camel}};
                    {{map.techs.dropwizard}};
                    {{map.techs.mockito}};
                    {{map.techs.spock}};
                </li>
                <li>
                    <b class="main">VERSIONING: </b> {{map.techs.git}};
                </li>
                <li>
                    <b class="main">DEPENDENCY MANAGEMENT, REPOSITORIES & BUILDERS: </b>
                    {{map.techs.maven}};
                    {{map.techs.gradle}};
                    {{map.techs.nexus}};
                    {{map.techs.composer}};
                    {{map.techs.npm}};
                    {{map.techs.bower}};
                    {{map.techs.grunt}};
                    {{map.techs.yarn}};
                </li>
                <li>
                    <b class="main">APPLICATION SERVERS: </b>
                    {{map.techs.tomcat}};
                    {{map.techs.grizzly}};
                    {{map.techs.netty}};
                    {{map.techs.jetty}};
                </li>
                <li>
                    <b class="main">DATABASES & STORAGE: </b>
                    {{map.techs.postgres}};
                    {{map.techs.sqlserver}};
                    {{map.techs.mysql}};
                    {{map.techs.sqlite}};
                    {{map.techs.elastic-search}};
                    {{map.techs.aurora}};
                    {{map.techs.mariadb}};
                    {{map.techs.redis}};
                </li>
                <li>
                    <b class="main">CI/CD & DEVOPS: </b>
                    {{map.techs.bamboo}};
                    {{map.techs.jenkins}};
                    {{map.techs.jira}};
                    {{map.techs.consul}};
                    {{map.techs.ec2}};
                    {{map.techs.ecs}};
                    {{map.techs.lambda-functions}};
                    {{map.techs.metrics}};
                    {{map.techs.cloudwatch}};
                    {{map.techs.kms}};
                    {{map.techs.docker}};
                </li>
                <li>
                    <b class="main">COMMUNICATION: </b>
                    {{map.techs.en}};
                    {{map.techs.pt}};
                </li>
            </ul>
        </div>
    </div>
    <hr/>
</div>