<div class="container intro">
    <h2 class="main">Details</h2>
    <div class="intro-body">
        <ul>
            <li>
                <span><b class="main">LAST PROJECT: </b> {{{details.last-project}}}</span>
            </li>
            <li>
                <b class="main">GITHUB | SKYPE: </b>
                <a target="_blank"
                   href="{{details.social-accounts.git.link}}">{{details.social-accounts.git.address}}
                </a>
                |
                <a target="_blank"
                   href="{{details.social-accounts.skype.link}}">{{details.social-accounts.skype.address}}
                </a>
            </li>
            <li>
                <b class="main">UK PHONE: </b> {{details.phone}}
            </li>
            <li>
                <b class="main">NOTICE PERIOD: </b> {{details.notice-period}}
            </li>
        </ul>
    </div>
    <hr/>
</div>
