<div class="container ">
    <hr/>
    <div class="university ">
        <div class="intro">
            <h4 class="main">Education</h4>
            <div class="intro-body">
                <ul>
                    {{#education}}
                        <li>
                            <b class="main">
                                {{title}}
                            </b>
                            {{completion}}
                        </li>
                    {{/education}}
                </ul>
            </div>
        </div>
    </div>
</div>