<!doctype html>
<html lang="en">

<head>
    <!-- HEADER: /templates/header -->
    {{>header}}
</head>

<body>

    <!-- INTRO: /templates/intro -->
    {{> intro }}

    <!-- DETAILS: /templates/details -->
    {{> details }}

    <!-- COMPETENCES: /templates/competences -->
    {{> competences }}

    <!-- EMPLOYMENT HISTORY: /templates/employment -->
    {{> employment}}

    <!-- EDUCATION: /templates/education -->
    {{> education}}


</body>
</html>