<div class="container">
    <div class="profile-picture-container">
        <img src="{{intro.photo.src}}" alt="{{intro.photo.alt}}" class="profile-picture img-thumbnail">
    </div>
    <h1 class="center main">{{intro.name}}</h1>
    <div class="lead-wrapper">
        <p class="lead lead-intro">
            {{intro.personal-message}}
        </p>
    </div>
    <hr>
</div>